
pandas==2.2.2         
numpy==1.26.4         
nltk==3.8.1            # Tokenisation, stopwords, stemming/lemmatisation

# NLP — Vectorisation
scikit-learn==1.4.2    # Bag of Words, TF-IDF, et tous les modèles classiques
# Visualisation
matplotlib==3.8.4     
seaborn==0.13.2      
wordcloud==1.9.3    

# Notebooks Jupyter
jupyter==1.0.0        
ipykernel==6.29.4      

# Sauvegarde des modèles
joblib==1.4.2    Sérialisation efficace des modèles scikit-learn

# Utilitaires
python-dotenv==1.0.1   # Lecture du fichier .env